#LoginPanel>img.CompanyLOGO{
    margin-bottom: 1rem;
}
#LoginPanel>p.Welcome{
    color: var(--color-white-normal);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: TitleScrollAnimation 6s;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    font-size: 1.25rem;
}
#LoginPanel>div.forgotPassword{
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#LoginPanel>div.forgotPassword>a{
    letter-spacing: 1px;
    animation: ForgotPasswordTitle 4s infinite;
}
#LoginPanel>div.forgotPassword>:-moz-any():hover{
    cursor: pointer;
}
#LoginPanel>p.ShiftToSignUp{
    margin: 1rem 0 2.5rem 0;
    width: 100%;
    text-align: center;
    animation: ForgotPasswordTitle 4s 2s infinite;
    letter-spacing: 1px;
    color: var(--color-gold-dark);
}
#LoginPanel>p.ShiftToSignUp:hover{
    cursor: pointer;
}
@keyframes ForgotPasswordTitle{
    0%{color: var(--color-gold-dark);}
    50%{color: var(--color-gold-light);}
    100%{color: var(--color-gold-dark);}
}

