div.NotFoundPage{
    min-height: 50%;
    animation: FadeIn 3s;
    justify-content: center;
}
div.NotFoundPage>p{
    width: 100%;
    text-align: center;
    animation:TitleScrollAnimation 4s;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-size: 1.25rem;
    color: var(--color-red-error);
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}