#DashBoardPanel{
    position: relative;
}
#DashBoardPanel>div.DashboardBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#DashBoardPanel>div.DashboardBar>p{
    margin: 0;
}
#DashBoardPanel>div.DashboardBar>p.DashboardTitle{
    color: var(--color-white-normal);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: TitleScrollAnimation 6s;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.25rem;
    letter-spacing: 1px;
}
#DashBoardPanel>div.DashboardBar>p.Menu{
    color: var(--color-white-dark);
    font-size: 1.15rem;
    z-index: 2;
    position: absolute;
    left: 5%;
    transition: all 1s;
    transition-property: color transform;
}
#DashBoardPanel>div.DashboardBar>p.Menu:hover{
    cursor: pointer;
}
#DashBoardPanel>div.DashboardBar>p.Menu.Active{
    transform: rotateZ(90deg);
    color: var(--color-gold-dark);
}
#DashBoardPanel>div.DashboardBar>img{
    height: 1.5rem;
    z-index: 2;
    position: absolute;
    right: 5%;
}
#DashBoardPanel>div.DashboardMenu{
    min-height: 40rem;
    position: absolute;
    left: 0;
    margin-top: 2rem;
    overflow: hidden;
    white-space: nowrap;
    transition: width 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#DashBoardPanel>div.DashboardMenu.Hide{
    width: 0%;
}
#DashBoardPanel>div.DashboardMenu.Show{
    width: 50%;
}
#DashBoardPanel>div.DashboardMenu>a.DashboardMenu-Item{
    color: var(--color-white-normal);
    width: 100%;
    padding: 0;
    text-align: left;
    margin: 1rem 0rem;
}