/* --------------- Global CSS Variables ---------------*/
:root{
    --color-white-light: rgb(255, 255, 255);
    --color-white-normal: rgb(225, 225, 225);
    --color-white-dark: rgb(200, 200, 200);
    --color-gold-light: rgb(255, 215, 0);
    --color-gold-normal: rgb(210, 180, 30);
    --color-gold-dark: rgb(160, 130, 20);
    --color-red-error: rgba(200, 35, 35, 0.85);
    --color-dark: rgb(100, 100, 100);
}

/*--------------- Global Element Setting ---------------*/
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(37, 35, 35);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#root{
    padding-top: 1rem;
    width: 80%;
}
/*-------------------   General Component Panel -----------------*/
div.GeneralPanel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: FadeIn 2s;
}
/*-------------------   General User Input Block -----------------*/
div.UserInput{
    width: 100%;
    padding: 0.5rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-white-dark);
}
div.UserInput{
    margin-bottom: 1.25rem;
}
div.UserInput>p.Fontawesome-Icon{
    color: var(--color-white-dark);
    margin: 0;
    font-size: 1.15rem;
}
div.UserInput>input{
    min-width: 85%;
    border: 0;
    padding: 0.125rem 0.25rem;
    background: transparent;
    color: var(--color-white-light);
}
div.UserInput>input:hover{
    cursor: pointer;
}
div.UserInput>input:focus{
    outline: none;
}
button:hover{
    cursor: pointer;
}
button:focus{
    outline: none;
}
a{
    text-align: center;
}
a:hover{
    text-decoration: none;
}
/*-------------------   General Button Type 1 -----------------*/
.GeneralButtonType1{
    margin: 1.25rem 0rem;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid var(--color-white-normal);
    background-color: var(--color-white-normal);
    color: var(--color-gold-dark);
    padding: 0.25rem 1rem;
    letter-spacing: 1px;
    font-weight: bolder;
    transition: all 1s;
    transition-property: color, background-color, border-color;
}
.GeneralButtonType1:hover{
    border: 1px solid var(--color-gold-dark);
    background-color: var(--color-gold-dark);
    color: var(--color-white-normal);
}
/*-------------------   General Button Type 2 -----------------*/
.GeneralButtonType2{
    margin: 1.25rem 0rem;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid var(--color-gold-dark);
    background-color: var(--color-gold-dark);
    color: var(--color-white-normal);
    padding: 0.25rem 1rem;
    letter-spacing: 1px;
    font-weight: bolder;
    transition: all 1s;
    transition-property: color, background-color, border-color;
}
.GeneralButtonType2:hover{
    border: 1px solid var(--color-white-normal);
    background-color: var(--color-white-normal);
    color: var(--color-gold-dark);
}


/*-------------------   General Error Notice -----------------*/
div.ErrorNotice{
    width: 100%;
    min-height: 2rem;
}
div.ErrorNotice>p{
    background-color: var(--color-red-error);
    color: var(--color-white-normal);
    margin: 0;
    padding: 0.25rem 1rem;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
    border-radius: 0.25rem;
    animation: FadeIn 1.5s;
}

/*--------------    General Animation   -------------*/
@keyframes FadeIn{
    0%{opacity: 0;} 100%{opacity: 1;}
}
@keyframes TitleScrollAnimation{
    0%{opacity: 0; width: 0%;} 
    100%{opacity: 1; width: 100%;}
}
/*--------------    Responsive Design   -------------*/
@media screen and (min-width: 576px){
    #root{
        width: 460.8px;
        padding-top: 1.2rem
    }
}
@media screen and (min-width: 768px){
    #root{
        padding-top: 1.4rem
    }
}

@media screen and (min-width: 1024px){
    #root{
        padding-top: 1.6rem
    }
}

@media screen and (min-width: 1440px){
    #root{
        padding-top: 1.8rem
    }
}

@media screen and (min-width: 1920px){
    #root{
        padding-top: 2.0rem
    }
}

@media screen and (min-width: 2160px){
    #root{
        padding-top: 2.2rem
    }
}
