#ForgotPINPanel>img.CompanyLOGO{
    margin-bottom: 1rem;
}
#ForgotPINPanel>p.PasswordReset{
    color: var(--color-white-normal);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: TitleScrollAnimation 6s;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    font-size: 1.25rem;
}
#ForgotPINPanel>p.divider{
    margin: 1.25rem 0rem;
    color: var(--color-dark);
    text-align: center;
}
#ForgotPINPanel>p.divider>span{
    color: var(--color-gold-dark);
    font-weight: bolder;
}

